:root {
    --red: #FF4218;
    --blue: #1890FF;
    --green: #18CC6C;
    --orange: #F2AA2A;

    --text-primary: #262C2D;
    --text-secondary: #636F73;
    --border-gray: #CDCDCD;
    --scrollbar-track-bg: #e2e2e2;
    --scrollbar-thumb-bg: #b9b9b9;
    --border-strong: rgb(211, 217, 219);
}