@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "custom-antd";
@import "spacing.scss";
@import "typo.scss";
@import "responsive.scss";
@import "colors.scss";
@import "position.scss";
@import "flex.scss";
@import "style.css";

html, body {
    font-size: 13px;
    color: var(--text-primary);
}

*::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

*::-webkit-scrollbar:horizontal {
    width: 9px;
    height: 9px;
}

*::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
}

*::-webkit-scrollbar-track:horizontal {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid var(--scrollbar-track-bg);
    background-color: var(--scrollbar-thumb-bg);
}

*::-webkit-scrollbar-thumb:horizontal {
    border: 0;
}

*::-webkit-scrollbar-corner {
    border-radius: 8px;
    background-color: var(--scrollbar-track-bg);
}

html {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.DayPicker-Month {
    display: block;
}

